<section class="jk-slider">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <a href="#"><img src="https://image.shutterstock.com/z/stock-photo-waffle-cone-with-roses-bouquet-on-pink-background-flat-lay-top-view-474873631.jpg" /></a>
      	<div class="hero">
        <hgroup>
            <h1>花漾</h1>
            <h3>花漾与你不期而遇 </h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
        </hgroup>

      </div>
    </div>
    <div class="item">
      <a href="#"><img src="https://cdn.pixabay.com/photo/2016/11/18/14/56/beautiful-1835116_960_720.jpg" /></a>
      <div class="hero">
        <hgroup>
            <h1>花漾</h1>
            <h3>只愿和你携手到老！ </h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
        </hgroup>

      </div>
    </div>
    <div class="item">
      <a href="#"><img src="https://cdn.pixabay.com/photo/2016/11/18/18/32/bloom-1836315_960_720.jpg" /></a>
      <div class="hero">
        <hgroup>
            <h1>花漾</h1>
            <h3>爱不是无尽的等待，一束鲜花一颗真心！</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
        </hgroup>

      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</section>
